<div class="container">
  <div class="projectTitle">
      <h2>SpaceX Launch Programs</h2>
  </div>
  <div class="projectBody">
      <div class="filters" style="flex-basis: 20%;">
          <div class="filtersCard">
              <div class="filtersHeader">
                  <div class="filtersTitle">
                      <span>Filters</span>
                  </div>
              </div>
              <div class="filtersBody">
                  <div class="launchYear">
                      <div class="filtersCaption">
                          <span>Launch Year</span>
                      </div>

                      <table>
                          <tr class="col-lg-6" *ngFor="let year of launchYear">
                              <td>
                                  <button type="button" class="btn-year"
                                      [ngClass]="{'btns-selected': selectedItem == year}" id="btn-2006"
                                      (click)="yearClick($event,year)">{{year}}</button>
                              </td>
                          </tr>

                      </table>
                  </div>
                  <div class="launchYear">
                      <div class="filtersCaption">
                          <span>Successfull Launch</span>
                      </div>
                      <table>
                          <tr *ngFor="let arrayVal of booleanArray" class="col-lg-6">
                              <td>
                                  <button [ngClass]="{'btns-selected': launchValue == arrayVal}" class="btn-year"
                                      (click)="launchClick($event,arrayVal)">{{arrayVal}}</button>
                              </td>
                          </tr>
                      </table>
                  </div>
                  <div class="launchYear">
                      <div class="filtersCaption">
                          <span>Successfull Landing</span>
                      </div>
                      <table>
                          <tr *ngFor="let arrayVal of booleanArray" class="col-lg-6">
                              <td>
                                  <button class="btn-year" [ngClass]="{'btns-selected': landingValue == arrayVal}"
                                      (click)="landingClick($event,arrayVal)">{{arrayVal}}</button>
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>
      </div>

      <div class="programs" style="flex-basis: 80%;">
          <div class="programCard" *ngFor="let data of tableData">
              <div class="cardImage">
                  <img src="{{data.links.mission_patch_small}}" alt="" />
              </div>
              <div class="cardBody">
                  <div class="programTitle">
                      <span>{{data.mission_name}}</span>
                  </div>
                  <div class="missionIds">
                      <span><b>Mission Ids</b></span>
                      <ul *ngFor="let id of data.mission_id">
                          <li>{{id}}</li>

                      </ul>
                  </div>

                  <div>
                      <p>
                          <b>Launch Year:</b>
                          <span style="color:grey">{{data.launch_year}}</span>
                      </p>
                      <p>
                          <b>Successful Launch</b>
                          <span style="color:grey">{{data.launch_success}}</span>
                      </p>
                      <p>
                          <b>Successful Landing</b>
                          <span style="color:grey">{{data.rocket.first_stage.cores[0].land_success}}</span>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>